* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
/*! transition: none !important; */
}

html {
	overflow: hidden;
	font-family: sans-serif;
}

body {
	background: linear-gradient(to bottom,
    #000, #444
	);
}

:not(body).hidden,
body.hidden #panel,
body.hidden #menu {
	transform: translateY(50px);
	filter: opacity(0%) blur(5px);
	pointer-events: none;
}
body.hidden #settings {
	transform: translateY(calc(-100% - 50px));
	filter: opacity(0%) blur(5px);
	pointer-events: none;
}

:not(.selectable) {
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.no-transition {
	transition: none !important;
}

/* Backgrounds */
#backgrounds,
.background {
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center center;
	transition: background .3s;
}

/* Sprites */
#sprites {
	position: absolute;
	width: 700px;
	height: 100vh;
}
.sprite {
	--pos: .5;
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100vh;
	width: 700px;
	
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	
transform: translateX(calc((var(--pos) - 0.5) * 100%));
	transform-origin: bottom center;
	transition: transform .6s, left .6s, background-image .6s;
}
.sprite.rotated {
	transform: translateX(calc((var(--pos) - 0.5) * 100%)) rotateY(180deg);
}

/* Panel */
#panel {
	position: absolute;
	bottom: 0;
	height: 150px;
	width: 700px;
	left: calc(50vw - 350px);
	padding: 0 100px;
		
	background: linear-gradient(to right,
		transparent,
		#000C 20%,
		#000C 80%,
		transparent
	);
	transition: transform .3s, filter .3s;
}

#name {
	margin: 16px;
	--color: white;
	color: white;
	font-size: 1.1em;
	text-shadow:
		2px -2px 3px var(--color),
		-2px 2px 3px var(--color);
}

#text {
	margin: 16px;
	color: white;
	text-shadow: 0 1px 2px #000;
}
#text:before{
	content: attr(data-prefix);
}
#text:after {
	content: attr(data-postfix);
}
#text.hide-postfix:after {
	opacity: 0
}
#text p {
	display: inline;
}
#text span.hidden {
	transform: none;
	filter: none;
	pointer-events: none;
	opacity: 0;
}

/* Menu */
#menu {
	position: absolute;
	display: flex;
	width: 100vw;
	height: 100vh;
	
	flex-direction: column;
	justify-content: center;
	
	background: linear-gradient(
		transparent,
		#000C,
		#000C,
		transparent
	);
	transition: transform .3s, filter .3s;
}

.option {
	width: 700px;
	padding: 16px;
	margin: 8px calc(50vw - 350px);
	
	text-align: center;
	color: white;
	font-size: 1.1em;
	
	background: #FFF5;
	text-shadow: 0 1px 2px #000;
	
	box-shadow: 0 0 0 #0006;
	cursor: pointer;
	transition: all .3s, margin 1ms;
}
.option:hover {
	color: #000;
	background: #FFF;
	text-shadow: 0 1px 2px #0000;
	box-shadow: 0 2px 8px #0006;
	transition: all .1s, margin 1ms;
}
.option:active {
	color: #000;
	background: #FFF;
	text-shadow: 0 1px 2px #0000;
	box-shadow: 0 2px 8px #0006;
	transition: all .2s, margin 1ms;
}


#settings {
	position: absolute;
	min-width: 48px;
	padding: 8px;
	color: #FFF;
	background: linear-gradient(to bottom,
	 #000C, #2228
	);
	text-shadow: 0 1px 2px #000;
	transform: translateY(-100%);
	transition: .3s;
}
#settings:hover {
	transform: translateY(0);
}
#settings:after {
	content: "";
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	width: 48px;
	height: 48px;
	background: linear-gradient(to bottom,
		#2228, #000C
	);
	clip-path: polygon(0 0, 100% 0, 0 100%);
}
#settings > .section {
	padding: 0 8px 8px 8px;
}
#settings label,
.section > .label{
	display: block;
	margin: 8px 0;
}
#settings label p,
#settings .label,
#settings button{
	text-transform: capitalize;
}
#settings button {
	position: relative;
	font: inherit;
	color: inherit;
	border: none;
	width: 200px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	color: #FFF;
	background: #FFF5;
	text-shadow: 0 1px 2px #000;
	box-shadow: 0 0px 0px #0006;
	transition: .3s;
}
#settings button:hover {
	color: #000;
	background: #FFF;
	text-shadow: 0 1px 2px transparent;
	box-shadow: 0 2px 8px #0006;
	transition: .1s;
}

#settings .file input {
	display: none;
}

#settings .range {
	position: relative;
	width: 200px;
	height: 24px;
	background: #0000;
	transition: background .3s;
}
#settings .range:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 24px;
	width: calc(var(--x) * 200px);
	background: #FFF5;
	box-shadow: 0 0px 0px #0006;
	transition: background .3s;
}
#settings .range:hover {
	background: #0005;
	box-shadow: 0 2px 8px #0006;
	transition: background .1s, box-shadow .1s;
}
#settings .range:hover:before {
	background: #FFF;
	transition: background .1s;
}


#main-menu {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr repeat(3, auto) 1fr;
	grid-template-areas:
		". ."
		"continue continue"
		"new-game download"
		"load-url drag-drop"
		". .";
	grid-gap: 8px;
	padding: 8px;
	width: 100vw;
	height: 100vh;
	max-width: 700px;
	margin: 0 auto;
}

#main-menu > * {
	padding: 12px;
	font-size: 1.2em;
	color: #FFF;
	background: #FFF5;
	border: none;
	text-shadow: 0 1px 2px #000;
	transition: .2s;
}
#main-menu > button {
	min-height: 96px;
}
#main-menu > button:hover {
	color: #000;
	background: #FFF;
	border: none;
	text-shadow: 0 1px 2px transparent;
	box-shadow: 0 2px 5px #0004;
}
#main-menu > .load-url > * {
	width: 100%;
	padding: 12px;
	margin: 8px 0;
	font-size: 1em;
	padding: 12px;
	font-size: 1.2em;
	color: #FFF;
	background: #FFF5;
	border: none;
	text-shadow: 0 1px 2px #000;
	transition: .2s;
}
#main-menu > .load-url > *:hover,
#main-menu > .load-url > *:focus{
	color: #000;
	background: #FFF;
	border: none;
	text-shadow: 0 1px 2px transparent;
	box-shadow: 0 2px 5px #0004;
}

#main-menu > .continue {
	grid-area: continue;
}

#main-menu > .new-game {
	grid-area: new-game;
}

#main-menu > .download {
	grid-area: download;
}

#main-menu > .load-url {
	grid-area: load-url;
}

#main-menu > .drag-drop {
	grid-area: drag-drop;
}


@media screen and (max-width: 500px) {
	#panel {
		padding: 0 calc(350px - 50vw);
	}
	.option {
		padding: 16px calc(350px - 50vw);
	}
	#main-menu {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr repeat(5, auto) 1fr;
		grid-template-areas:
			"."
			"continue"
			"new-game"
			"download"
			"load-url"
			"drag-drop"
			".";
	}
}

@media screen and (max-width: 700px) {
	#sprites {
		transform: translateX(calc(50vw - 350px));
	}
}

@media screen and (min-width: 700px) {
	#sprites {
		width: 700px;
		transform: translateX(calc(50vw - 350px));
	}
}

/* @media screen and (orientation: landscape) {
	#backgrounds,
	.background {
		background-size: contain;
	}
} */























